@import url("/css/fonts.css");
@import url("/css/colors.css");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
		"Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html,
body {
	background-color: #141414;
	color: var(--primaryTextColor);
	overflow-y: hidden;

	/* For Firefox */
	scrollbar-color: var(--primaryBgColor) #ffffff00;
	scrollbar-width: 7px;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
	width: 7px;
	height: 3.5px;
}
html ::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
	background: var(--primaryBgColor);
	border-radius: 20px;
}
html ::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track {
	background: #ffffff00;
	border-radius: 20px;
}

.noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.line {
	width: 1.5px;
	background-color: #2d2d2d;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px auto auto auto;
	height: 100vh;

	max-width: 600px;
}

.inputBox {
	position: fixed;
	bottom: 10px;
	background-color: var(--secondaryBgColor);
	border-radius: 6px;
	overflow: hidden;
	display: flex;
	height: 2.25rem;
	width: 600px;
}

#submitMessageForm {
	display: flex;
	width: 100%;
}

#submitMessageForm > *:not(.line) {
	color: #fff;
	background-color: var(--secondaryBgColor);
	padding: 0 0.5rem;
}

#messageInput {
	border: none;
	width: 100%;
}

#messageInput::placeholder {
	font-size: 0.9rem;
	font-weight: 200;
}

#messageInput:focus {
	border: none;
	outline: none;
}

#sendButton {
	cursor: pointer;
	border: none;
	width: 2.5rem;
	color: #d9d9fd;

	transition: background-color 120ms;
}

#sendButton:hover,
#sendButton:active {
	background-color: var(--secondaryAccentColor);
}

#chatList {
	width: 100%;
	overflow-y: scroll;
	height: calc(100vh - 2.25rem - 2rem);
	text-align: center;
}

.messageBox {
	display: flex;
	background-color: var(--secondaryAccentColor);
	border-radius: 10px;
	padding: 0.7rem;
	margin: 1rem 0;
}

.messageBox .profile {
	width: 50px;
	height: 50px;

	min-width: 50px;
	min-height: 50px;
}

.messageBox .profile img {
	border-radius: 8px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.messageBox .content {
	text-align: start;
	margin-left: 1rem;
}

.messageBox .row:last-child {
	margin-top: 0.2rem;
}

.messageBox .username {
	font-weight: 700;
	color: #e0dfdf;
}

.messageBox .timestamp {
	font-size: 0.8rem;
	font-weight: 400;
	color: #bcbaba;
}

.notiBox:first-child {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.notiBox:not(:first-child) {
	margin: 2.5rem 0;
}

.notiBox .content {
	background-color: var(--secondaryBgColor);
	color: #bcbaba;
	font-weight: 300;
	padding: 0.5rem;
	border-radius: 8px;
}

@media (max-width: 600px) {
	#app {
		margin: 0 1rem;
	}

	.inputBox {
		width: 90%;
	}
}
